*{
	margin: 0;
	padding: 0;
	outline: none;

}

:root{
	--b: #30363d;
	--p: #737a83;
	--s: #ced2d7;
	--bg: #0f141c;
	--o: #ffb300;
}

body, html{
	min-height: 100vh;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
background: #111316;
	line-height: 1;
}

a{
	color: #fff;
	text-decoration: none;
}

.container-f{
	margin: 0 auto;
	max-width: 1200px;
	@media (max-width: 1260px){
		max-width: 1200px;
		padding: 0 30px;
	}
}

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  display: none;
}

.copy{
	margin-left: 10px;
	width: 12px;
	display: inline-block;
	transition: all .15s ease;
	cursor: pointer;
}

.copy:hover{
	transition: all .15s ease;
	opacity: 0.8;
	transform: scale(1.5);
}

.theme--dark.v-skeleton-loader .v-skeleton-loader__list-item-two-line, .theme--dark.v-skeleton-loader .v-skeleton-loader__list-item-avatar-two-line{
	background: none!important;
}

.v-skeleton-loader__avatar{
	margin-right: 30px;
}